body{
    background-color:#E4F9F4;

    
}
 h1{
    margin: 10px;
    font-family:Cursive;
    
    font-size: 90px;
}
p{
    margin: 10px;
    font-size: 30px;
}
.top{

    background-color: blueviolet;
    text-align: center;
    

    }
.middle{ 
    
   
}
.bottom{
   

}
    .top_cloud{
        position: relative;
        margin-left: 500px;
    }
    .bottom_cloud{
        position: absolute;
    }